.signup-container {


    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background-color: #333;
    color: white;
  }
  
  .signup-button {
    padding: 10px;
    margin-top: 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #ff3d00;
  }
  